<div class="docs-help-support">
  <ul>
    <li>
      <!-- link 1 -->
      <a href="">
        <img src="../../../assets/images/homepage/stackoverflow-logo.svg" alt="StackOverflow Icon" loading="lazy" />
      </a>
      <div class="docs-help-support-description">StackOverflow</div>
    </li>
    <li>
      <!-- link 2 -->
      <a href="">
        <img src="../../../assets/images/homepage/x-logo.svg" alt="X Icon" loading="lazy" />
      </a>
      <div class="docs-help-support-description">X Community on Discord</div>
    </li>
    <li>
      <!-- link 3 -->
      <a href="">
        <img src="../../../assets/images/homepage/discord-logo.svg" alt="Discord Logo" loading="lazy" />
      </a>
      <div class="docs-help-support-description">Discord Community on Discord</div>
    </li>
  </ul>
</div>
