<mat-list *ngIf="album" class="album-details mat-elevation-z1" role="list">
   <span mat-subheader>Album Details</span>
   <!-- release Date -->
   <mat-list-item lines="2">
      <span matListItemTitle>Released</span>
      <span matListItemLine>{{ album.releaseDate | date }}</span>
   </mat-list-item>
   <mat-divider />
   <!-- label -->
   <mat-list-item lines="2">
      <span matListItemTitle>Label</span>
      <span matListItemLine>{{ album.label }}</span>
   </mat-list-item>
   <mat-divider />
   <!-- studio -->
   <mat-list-item lines="2">
      <span matListItemTitle>Studio</span>
      <span matListItemLine>{{ album.studio }}</span>
   </mat-list-item>
   <mat-divider />
   <!-- genre -->
   <mat-list-item lines="2">
      <span matListItemTitle>Genre</span>
      <span matListItemLine>{{ album.genre }}</span>
   </mat-list-item>
   <mat-divider />
</mat-list>
