@use '../../../styles/helpers/constants';

.footer {
  height: 6rem; // sets the height of the footer
}

.footer-content {
  max-width: constants.$max-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright a {
  text-decoration: none;
  margin-right: 0.5rem;
}

.footer-logos a {
  margin-right: 0.5rem;
}
