@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .navbar-container {
      color: mat.get-theme-color($theme, primary, 100);
      background-color: mat.get-theme-color($theme, primary, 40);
   }
   .icon {
      color: aliceblue;
   }

}

// typography mixin
@mixin typography($theme) {
   .title {
      font: mat.get-theme-typography($theme, display-small);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
