.navbar-header {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 8px 16px; // sets the size

   > .mat-mdc-button {
      &:last-child {
         margin-left: auto;
      }
   }
}

.mat-mdc-icon-button {
   color: inherit;
}

mat-raised-button {
   margin-left: .5rem;
}

.github-logo, // sets size of navbar icons
app-logo {
   margin-right: 8px;
   width: 24px;
   height: 24px;
}


.flex-spacer {
   // creates space in navbar
   flex-grow: 1;
}

.docs-navbar-show-small {
   display: none;
}

// rules for when the device is detected to be on a small screen
@media (max-width: 720px) {
   .docs-navbar-hide-small {
      display: none;
   }

   .docs-navbar-show-small {
      display: block;
   }

   .github-logo {
      margin: 0;
   }
}
