<nav class="navbar-container" role="navigation" aria-label="Main Navigation">
  <div class="navbar-content">
    <a routerLink="/" mat-icon-button aria-label="Learning Angular Material">
      <app-logo></app-logo>
    </a>

    <h1 class="title">Learning Angular Material</h1>

    <!-- provide flexible space between title and icons -->
    <span class="flex-spacer"></span>

    <a mat-icon-button routerLink="/" aria-label="Home">
      <mat-icon class="icon">home</mat-icon>
    </a>

    <button mat-icon-button class="icon" [matMenuTriggerFor]="menu" aria-label="Open navigation menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- draft nav menu for testing each page - fix this later -->
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home Page</a>
      <a mat-menu-item routerLink="/about" routerLinkActive="active">About Page</a>
      <a mat-menu-item routerLink="/admin" routerLinkActive="active">Admin Page</a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/create-album" routerLinkActive="active">Create Album</a>
      <a mat-menu-item routerLink="/create-hero" routerLinkActive="active">Create Hero</a>
      <a mat-menu-item routerLink="/create-post" routerLinkActive="active">Create Post</a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/signin" routerLinkActive="active">Sign In Page</a>
      <a mat-menu-item routerLink="/signup" routerLinkActive="active">Sign Up Page</a>
    </mat-menu>
  </div>
</nav>
