<mat-toolbar class="navbar" role="navigation" aria-label="Navigation Toolbar">
   <a routerLink="/" mat-icon-button aria-label="learning angular material">
      <app-logo></app-logo>
   </a>

   <h6>Learning Angular Material</h6>

   <span class="flex-spacer"></span>

   <button mat-icon-button class="icon" [matMenuTriggerFor]="menu" aria-label="Navigation Button">
      <mat-icon>help</mat-icon>
   </button>

   <mat-menu #menu="matMenu">
      <button mat-button>Submit Feedback</button>
   </mat-menu>
   
</mat-toolbar>
