<mat-list class="recent-heroes" aria-label="Recent Heroes">
  <span mat-subheader>Recent Heroes</span>
  @if (recentHeroes$ | async; as heroes) {
  <!-- use the @for loop to iterate over this array -->
  @for (hero of heroes; track hero.id) {
  <mat-list-item lines="2">
    <span matListItemTitle>{{ hero.name }}</span>
    <span matListItemLine>Added: {{ hero.createdAt | date }}</span>
  </mat-list-item>
  } } @else {
  <mat-list-item lines="1">
    <span matListItemTitle>No Recent Heroes</span>
  </mat-list-item>
  }
</mat-list>
