@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .hero {
      color: mat.get-theme-color($theme, error, 50);
      background-color: mat.get-theme-color($theme, error, 30);
   }
   .title {
      color: mat.get-theme-color($theme, primary, 100);
   }
}
// typography mixin
@mixin typography($theme) {
   .title {
      font: mat.get-theme-typography($theme, display-small);
   }
   .subtitle {
      font: mat.get-theme-typography($theme, body-large);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}