.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-image: url(../../../assets/images/banner_image.jpg);
    background-size: cover;
    background-position: center;
    height: 420px;
}