<section class="hero-container" aria-label="Hero Section">
  <div class="hero-content" tabindex="0">
    <h1 class="title">Learning Angular Material</h1>
    <h2 class="subtitle">Code Samples and Best Practices</h2>

    <div class="hero-actions">
      <a mat-flat-button routerLink="/albums">Albums</a>
      <a mat-flat-button routerLink="/heroes">Heroes</a>
      <a mat-flat-button routerLink="/posts">Posts</a>
      <a mat-flat-button routerLink="/posts">Images</a>
    </div>
  </div>
</section>
