@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .search-bar-container {
      color: mat.get-theme-color($theme, primary, 30);
      background-color: mat.get-theme-color($theme, primary, 10);
   }
}
// typography mixin
@mixin typography($theme) {
   .search-bar-container {
      font: mat.get-theme-typography($theme, body-large);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}