<nav class="post-menu-container" aria-label="Post Menu">
  <a mat-icon-button routerLink="/" matTooltip="Go to Home" aria-label="Go Home">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/posts', postId, 'edit']" matTooltip="Edit Post" aria-label="Edit Post">
    <mat-icon>edit</mat-icon>
  </a>
  <button mat-icon-button matTooltip="{{ isFavorite ? 'Unfavorite Post' : 'Favorite Post' }}" aria-label="Favorite Post" (click)="toggleFavorite()">
    <mat-icon>{{ isFavorite ? 'star' : 'star_border' }}</mat-icon>
  </button>
</nav>
