@use '../../../../styles/helpers/constants';

.album-create-page-container {
   max-width: constants.$max-width;
   margin: auto;
   display: flex;
   flex-direction: row;
   min-height: 100vh;
}

.main-content {
   flex-basis: constants.$main-content-flex-basis;
   max-width: constants.$main-content-max-width;
}

// fix this!
.side-content {
   flex-basis: 30%;
   max-width: 30%;
}
