<mat-list class="recent-albums">
  <span mat-subheader>Recent Heroes</span>
  @if (recentAlbums$ | async; as albums) {
  <!-- use the @for loop to iterate over this array -->
  @for (album of albums; track album) {
  <mat-list-item lines="2">
    <span matListItemTitle>{{ album.title }}</span>
    <span matListItemLine>Added: {{ album.createdAt | date }}</span>
  </mat-list-item>
  } } @else {
  <mat-list-item lines="1">
    <span matListItemTitle>No Recent Albums</span>
  </mat-list-item>
  }
</mat-list>
