<header>
   <app-announcement-banner aria-label="Announcement Banner" />
   <app-navbar aria-label="Navigation Menu" />
</header>

<!-- clock and action bar section -->
<section>
   <app-clock aria-label="current time" />
   <app-action-bar aria-label="user action bar" />
</section>

<main>
<!-- post list section -->
   <article>
      <h2 id="post-list-title">Current Posts</h2>
      <app-post-grid aria-label="post grid" />
   </article>

<!--    recent posts section -->
   <aside class="recent-posts" aria-labelledby="recent-posts-title">
      <app-calendar aria-label="post calendar" />
      <h2 id="recent-posts-title">Recent Posts</h2>
      <app-recent-posts aria-label="recent posts list" />
</main>

<app-footer aria-label="site footer" />
