<header>
  <app-announcement-bar />
  <app-navbar />
</header>

<section>
  <app-clock  />
  <app-auth-status  />
  <app-action-bar  />
</section>

<main class="home-page-container">
  <!-- post grid section -->
  <article class="post-grid" aria-labelledby="post-grid-title">
    <h2 id="post-grid-title">Current Posts</h2>
    <app-post-grid aria-label="post grid" />
  </article>

  <!-- recent posts section -->
  <aside class="recent-posts" aria-labelledby="recent-posts-title">
    <app-calendar aria-label="post calendar" />
    <h2 id="recent-posts-title">Recent Posts</h2>
    <app-recent-posts aria-label="recent posts list" />
  </aside>
</main>

<app-footer />
