.hero-details {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
