<mat-list class="hero-details" role="list">
  <span mat-subheader>Hero Details</span>
  <!-- name -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Name</span>
    <span matListItemLine>{{ hero.name }}</span>
  </mat-list-item>

  <!-- age -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Age</span>
    <span matListItemLine>{{ hero.age }}</span>
  </mat-list-item>

  <!-- superpower -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Superpower</span>
    <span matListItemLine>{{ hero.superPower }}</span>
  </mat-list-item>

  <!-- home planet -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Home Planet</span>
    <span matListItemLine>{{ hero.homePlanet }}</span>
  </mat-list-item>
</mat-list>
