<mat-list class="hero-details" role="list">
  <span mat-subheader>Hero Details</span>
  <!-- name -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Name</span>
    <span matListItemLine>{{ hero.name }}</span>
  </mat-list-item>

  <!-- age -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Alter Ego</span>
    <span matListItemLine>{{ hero.alterEgo }}</span>
  </mat-list-item>

  <!-- place of orgin -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Place of Origin</span>
    <span matListItemLine>{{ hero.placeOfOrgin }}</span>
  </mat-list-item>

  <!-- abilities -->
  <mat-list-item lines="2" role="listitem">
    <span matListItemTitle>Superpower</span>
    <span matListItemLine>{{ hero.abilities }}</span>
  </mat-list-item>
</mat-list>
