<form [formGroup]="heroForm" novalidate (ngSubmit)="onSaveHero()" aria-label="Hero Form">
  <mat-card class="hero-form" appearance="outlined">
    <mat-card-header>
      <mat-card-title>New Hero</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- name -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="name" />
        @if (this.heroForm.controls['name'].hasError('required')) {
        <mat-error>Please enter a hero name.</mat-error>
        }
      </mat-form-field>

      <div class="row">
        <div class="col">
          <!-- alter ego -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Alter Ego</mat-label>
            <input matInput type="text" formControlName="alterEgo" placeholder="Alter Ego" />
            @if (this.heroForm.controls['alterEgo'].hasError('required')) {
            <mat-error>Please provide an alter ego.</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col">
          <!-- place of origin -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Place of Origin</mat-label>
            <input
              matInput
              type="text"
              formControlName="placeOfOrigin"
              placeholder="Place of Origin" />
            @if (this.heroForm.controls['placeOfOrigin'].hasError('required')) {
            <mat-error>Please provide a place of origin.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- abilities -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Abilities</mat-label>
            <input matInput type="text" formControlName="abilties" placeholder="Abilities" />
            @if (this.heroForm.controls['abilities'].hasError('required')) {
            <mat-error>Please provide abilties.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- biography -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Biography</mat-label>
            <textarea
              matInput
              rows="8"
              formControlName="biography"
              placeholder="Biography"></textarea>
            @if (this.heroForm.controls['biography'].hasError('required')) {
            <mat-error>Please provide a biography.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      @if (this.mode === 'create') {
      <button mat-flat-button type="submit" [disabled]="!heroForm.valid">Create</button>
      } @else {
      <button mat-flat-button type="submit" [disabled]="!heroForm.valid">Update</button>
      }
      <button mat-flat-button type="button" class="button">Clear</button>
    </mat-card-actions>
  </mat-card>
</form>
