<main class="signin-page-container" aria-label="Sign In Page">
  <mat-card class="signin-form" appearance="outlined">
    <!-- title text -->
    <div class="title-text">
      <h3>Sign In</h3>
      <h4>Please sign in to your account.</h4>
    </div>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignIn()">
        <!-- email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="name@example.com"
            autocomplete="username"
            aria-describedby="Fix this!" />
          @if (formControls['email'].hasError('required')) {
          <mat-error id="fix this!">Email is required.</mat-error>
          } @if (formControls['email'].hasError('email')) {
          <mat-error>Invalid email format.</mat-error>
          }
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            autocomplete="current-password"
            aria-describedby="fix this" />
          @if (formControls['password'].hasError('required')) {
          <mat-error id="fix this!">A password is required</mat-error>
          } @if (formControls['password'].hasError('minlength')) {
          <mat-error id="fix this!">Your password must be at least 6 characters.</mat-error>
          }
        </mat-form-field>

        <!-- BUTTONS -->
        <button mat-flat-button type="submit" [disabled]="signinForm.invalid">
          SIGN IN
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
