.signin-page-container {
  background: var(--mat-sys-primary-container);
  background-image: url(../../../assets/images/sign_in_screen.jpg);
  background-size: cover;
  background-position: center;
  color: var(--mat-sys-on-primary-container);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form {
  max-width: 90%;
  width: 400px;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin: 0.4rem 0;
}

.sign-in-button {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.title-text {
  text-align: center;
  font: var(--mat-sys-label-large, 'Arial', sans-serif);
}


