.album-card {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
}

// sets up space
.spacer {
  flex: 1 1 auto;
}

// when albums are loading
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
}

// when no albums are found
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
  text-align: center;
}
