@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .album-form {
      color: mat.get-theme-color($theme, primary, 0);
      background-color: mat.get-theme-color($theme, primary, 100);
   }
}

// typography mixin
@mixin typography($theme) {
   .albums-form {
      font: mat.get-theme-typography($theme, body-medium);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}