.album-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 980px;
}

.full-width {
  width: 100%;
}

/* FLEX PROPERTIES */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.card-actions button {
  margin: 0.5rem;
}

// responsive design for small screen
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
