<form [formGroup]="albumForm" novalidate (ngSubmit)="onSaveAlbum()" aria-label="Album Form">
  <mat-card class="album-form" appearance="outlined">
    
    <mat-card-header>
      <mat-card-title>New Album</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="column">
          <!-- title -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Title</mat-label>
            <input
              matInput
              type="text"
              formControlName="title"
              title="Title"
              aria-describedby="title-error" />
            @if (this.albumForm.controls['title'].hasError('required')) {
            <mat-error id="title-error">Please provide an album title.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- artist -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Artist</mat-label>
            <input
              matInput
              type="text"
              formControlName="artist"
              title="Artist"
              aria-describedby="arist-error" />
            @if (this.albumForm.controls['artist'].hasError('required')) {
            <mat-error id="artist-error">Please provide an artist.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- releaseDate -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Release Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="releaseDate"
              title="Release Date"
              aria-describedby="releaseDate-error" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (this.albumForm.controls['releaseDate'].hasError('required')) {
            <mat-error id="releaseDate-error" aria-live="polite"
              >Please provide the release date of the album.</mat-error
            >
            }
          </mat-form-field>
        </div>

        <div class="column">
          <!-- label -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Label</mat-label>
            <input
              matInput
              type="text"
              formControlName="label"
              title="Label"
              aria-describedby="label-error" />
            @if (this.albumForm.controls['label'].hasError('required')) {
            <mat-error id="label-error" aria-live="polite"
              >Please provide an album label.</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- studio -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Studio</mat-label>
            <input
              matInput
              type="text"
              formControlName="studio"
              title="Studio"
              aria-describedby="studio-error" />
            @if (this.albumForm.controls['studio'].hasError('required')) {
            <mat-error id="studio-error" aria-live="polite"
              >Please provide the name of the studio.</mat-error
            >
            }
          </mat-form-field>
        </div>

        <div class="column">
          <!-- genre -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre">
              <mat-option value="" disabled>Select Genre</mat-option>
              @for (genre of genres; track genre) {
              <mat-option [value]="genre.value">{{ genre.viewValue }}</mat-option>
              }
            </mat-select>
            @if (this.albumForm.controls['genre'].hasError('required')) {
            <mat-error>Please select a genre for the album.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- summary -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Summary</mat-label>
            <textarea
              matInput
              rows="8"
              formControlName="summary"
              title="About the album."></textarea>
            @if (this.albumForm.controls['summary'].hasError('required')) {
            <mat-error>Please provide a summary.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      @if (this.mode === 'create') {
      <button matButton="filled" type="submit" aria-label="Create Album" [disabled]="!albumForm.valid">Create</button>
      } @else {
      <button matButton="filled" type="submit" aria-label="Update Album" [disabled]="!albumForm.valid">Update</button>
      }
      <button mat-flat-button type="button" (click)="onCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
