<table mat-table [dataSource]="dataSource">
  <!-- name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let hero">{{ hero.name }}</td>
  </ng-container>
  <!-- age -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let hero">{{ hero.age }}</td>
  </ng-container>
  <!-- home planet -->
  <ng-container matColumnDef="homePlanet">
    <th mat-header-cell *matHeaderCellDef>Home Planet</th>
    <td mat-cell *matCellDef="let hero">{{ hero.homePlanet }}</td>
  </ng-container>

  <!-- delete hero icon button -->
  <ng-container matColumnDef="deleteHero">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let hero">
      <button
        mat-icon-button
        (click)="onDeleteHero(hero.id)"
        matTooltip="Delete Hero"
        aria-label="Delete Hero">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- open hero icon button -->
  <ng-container matColumnDef="openHero">
    <th mat-header-cell *matHeaderCellDef>Open Hero</th>
    <td mat-cell *matCellDef="let hero">
      <button
        mat-icon-button
        routerLink="/heroes/{{ hero._id }}"
        matTooltip="Open Hero page"
        aria-label="Open Hero page">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- edit hero icon button -->
  <ng-container matColumnDef="editHero">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let Hero">
      <a
        mat-icon-button
        routerLink="/edit-hero/{{ Hero.id }}"
        matTooltip="Edit Hero"
        aria-label="Edit Hero">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<mat-paginator
  #paginator
  [length]="dataSource.data.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page">
</mat-paginator>
