@use '../../../../styles/helpers/constants';

.post-create-page-container {
  max-width: constants.$max-width;
  margin: auto; // centers the container
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.post-form {
  flex-basis: 70%;
  max-width: 70%;
}

.recent-posts {
  flex-basis: 30%;
  max-width: 30%;
}
